@page "/core-rules/damage-injuries"

<PageTitle>
    Core Rules - Damage & Injuries
</PageTitle>

<h1>Damage & Injuries</h1>

<br />

<MudGrid>
    <MudItem xs="6">
        <MudText Typo="@Typo.body1">
            The skills are the bread and butter of who your character is and what they can do.
            <br />
            <br />
            Skills are used to determine how well you do anything that you attempt to do, be it recall knowledge about particular subject, strike a foe or resist a mind-bending effect.
            <br />
            <br />
            Character's starting Skill Proficiencies are defined as part of the <MudLink Href="/character-creation">Character Creation</MudLink> process.
            <br />
            <br />
            <b>Base Die.</b> Base Die is always a d12. When making a skill check or a weapon check, you always roll a Base Die, even if you are untrained in the skill
            <br />
            <br />
            <b>Proficiency Die.</b> When you are making a Skill Check, you roll a Proficiency Die. Which die you roll depends your Proficiency tier with that skill.
        </MudText>
    </MudItem>
    <MudItem xs="6">
        
    </MudItem>
</MudGrid>

<br />

<MudText Typo="@Typo.h5">
    Resolving Skill Rolls
</MudText>

<br />
