@page "/core-rules/attacking/melee"
@using Deedforge.Shared.Compendium

@inject ICompendiumService CompendiumService

<PageTitle>
    Core Rules - Attacking - Melee
</PageTitle>

<h1>Attacking with Melee</h1>

<AttackListComponent AttackList="@CompendiumService.Compendium.MeleeAttacks" />