@page "/core-rules/attacking/melee"
@using Deedforge.Shared.Compendium

@inject ICompendiumService CompendiumService

<PageTitle>
    Core Rules - Attacking - Melee
</PageTitle>

<h1>Attacking with Melee</h1>

<MudTabs Outlined="false" Position="@Position.Left" Rounded="true"
         ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
    <MudTabPanel Text="Berserker">
        <AttackStyleComponent AttackStyle="@CompendiumService.Compendium.MeleeAttackSheets.Berserker" />
    </MudTabPanel>
    <MudTabPanel Text="Maverick">
        <MudText>Content Two</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Slayer">
        <MudText>Content Three</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Phalanx">
        <MudText>Content One</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Battle Dancer">
        <MudText>Content One</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Guerilla">
        <MudText>Content One</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Swashbuckler">
        <MudText>Content One</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Dervish">
        <MudText>Content One</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Drunken Master">
        <MudText>Content One</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Interceptor">
        <MudText>Content One</MudText>
    </MudTabPanel>
</MudTabs>