@page "/adventuring/adventures"

<PageTitle>
    Adventuring - Adventures
</PageTitle>

<h1>Adventures</h1>

<br />

<MudText Typo="@Typo.body1">
    Adventures are the heart of a character's journey.
    <br />
    <br />
    An Adventure is a series of connected challenges, encounters, and storylines that a character experiences alongside their party members.
    <br />
    <br />
    Adventures can range from short, single-session quests to epic, multi-session campaigns that span continents and alter the fate of the world.
    <br />
    <br />
    <b>Structure.</b> Adventures typically consist of <MudLink Href="/adventuring/encounters">Encounters</MudLink> such as battles, social interactions, exploration, and puzzle-solving, all woven together by an overarching narrative.
    <br />
    <br />
    <b>Party.</b> Adventures are undertaken by a Party of characters which work together to overcome the challenges and dangers that they encounter in pursuit of a common goal.
    <br />
    <br />
    <b>Glimpses.</b> Whenever a character sets out on an Adventure, they start it with a certain amount of <MudLink Href="/adventuring/glimpses">Glimpses</MudLink>.
    <br />
    <br />
    <b>Dangers.</b> Adventures may also include <MudLink Href="/adventuring/dangers">Dangers</MudLink> that the characters will have to deal with in order to prove successful.
    <br />
    <br />
    <b>Rewards.</b> Completing an Adventure constitutes a milestone in character's progression and growth, and are granted improved abilities as well as some sort of tangible <MudLink Href="/adventuring/treasures">Treasure</MudLink>.
    <br />
    <br />
    <b>Respites.</b> Between Adventures, characters take a <MudLink Href="/adventuring/respites">Respite</MudLink>, a period of downtime during which they recuperate from their injuries, regain spent resources, pursue personal goals and prepare for the next Adventure.
</MudText>

<br />
<br />

<MudText Typo="@Typo.h5">
    Adventure Length
</MudText>

<br />

<MudSimpleTable Dense="true" Hover="true" Bordered="false" Striped="false" Style="overflow-x: auto;">
    <thead>
        <tr>
            <th><b>Adventure Length</b></th>
            <th><b>Tentative Amount of Sessions</b></th>
            <th><b>Maximum Number of Breakthroughs</b></th>
            <th><b>Number of Glimpses</b></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Short Adventure</td>
            <td>1-3</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Medium Adventure</td>
            <td>4-6</td>
            <td>2</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Long Adventure</td>
            <td>7-12</td>
            <td>3</td>
            <td>3</td>
        </tr>
    </tbody>
</MudSimpleTable>