@page "/adventuring/adventures"

<PageTitle>
    Adventuring - Adventures
</PageTitle>

<h1>Adventures</h1>

<br />

<MudText Typo="@Typo.body1">
    Adventures are the heart of a character's journey.
    <br />
    <br />
    An Adventure is a series of connected challenges, encounters, and storylines that a character experiences alongside their party members.
    <br />
    <br />
    Adventures can range from short, single-session quests to epic, multi-session campaigns that span continents and alter the fate of the world.
    <br />
    <br />
    <b>Structure.</b> Adventures typically consist of <MudLink Href="/adventuring/encounters">Encounters</MudLink> such as battles, social interactions, exploration, and puzzle-solving, all woven together by an overarching narrative.
    <br />
    <br />
    <b>Rewards.</b> Completing an Adventure constitutes a milestone in character's progression and growth, and are granted improved abilities as well as some sort of tangible <MudLink Href="/adventuring/treasures">Treasure</MudLink>.
    <br />
    <br />
    <b>Respites.</b> Between Adventures, characters take a <MudLink Href="/adventuring/respites">Respite</MudLink>, a period of downtime during which they recuperate from their injuries, regain spent resources, pursue personal goals and prepare for the next Adventure.
</MudText>