@page "/adventuring/respites-glimpses"

<PageTitle>
    Adventuring - Respites & Glimpses
</PageTitle>

<h1>Respites & Glimpses</h1>

<br />

<MudText Typo="@Typo.body1">
    Respites are periods of downtime between adventures, offering characters a chance to rest, recover, and prepare for their next challenge.
    <br />
    <br />
    During a Respite, characters can:
    <br />
    <br />
    • Use their Respite features and abilities
    <br />
    • Heal from wounds and recover from fatigue
    <br />
    • Craft items or perform research
    <br />
    • Engage in brief side activities
    <br />
    • Interact with other characters in the setting and develop relationships
    <br />
    • Train to improve skills or learn new abilities
    <br />
    <br />
    The length of a Respite can vary from a few days to several weeks, depending on the narrative and the Guide's discretion. It's a crucial time for character development and world-building outside of the main adventures.
</MudText>

<br />
<br />

<MudText Typo="@Typo.h5">
    Glimpses
</MudText>
<br />
<MudText Typo="@Typo.body1">
    Glimpses are narrative tools that allow characters to retroactively insert moments from their past into the current adventure.
    <br />
    <br />
    Each character can use Glimpses a limited number of times per <MudLink Href="/adventuring/adventures">Adventure</MudLink>. They allow players to add small, previously unmentioned details to their character's recent history, and they can be used to gain an advantage or solve a problem in the present.
    <br />
    <br />
    Examples of Glimpses:
    <br />
    • Remembering a specific item purchased during the last Respite.
    <br />
    • Recalling a conversation with a character that provides crucial information.
    <br />
    • Realizing they learned how to do something that's now relevant to the current situation.
    <br />
    <br />
    Glimpses add flexibility to storytelling and problem-solving, allowing characters to be more resourceful and creative in their adventures.
</MudText>

<br />
<br />