@page "/adventuring/respites"

<PageTitle>
    Adventuring - Respites
</PageTitle>

<h1>Respites</h1>

<br />

<MudText Typo="@Typo.body1">
    Respites are periods of downtime between adventures, offering characters a chance to rest, recover, and prepare for their next challenge.
    <br />
    <br />
    During a Respite, characters can:
    <br />
    <br />
    • Use their Respite features and abilities
    <br />
    • Heal injuries and recover from fatigue
    <br />
    • Craft items or perform research
    <br />
    • Engage in brief side activities
    <br />
    • Interact with other characters in the setting and develop relationships
    <br />
    • Train to improve skills or learn new abilities
    <br />
    <br />
    The length of a Respite can vary from a few days to several weeks, depending on the narrative and the Guide's discretion. It's a crucial time for character development and world-building outside of the main adventures.
</MudText>