@font-face {
    font-family: 'Marcellus-Regular';
    src: url('../fonts/Marcellus-Regular.ttf') format('truetype');
}

.mud-nav-link-text {
    font-size: 16px;
    color: #928e75;
}

.container-background {
    background-image: url('../images/background.png');
    background-repeat: repeat;
    min-height: 100vh;
}

.table-header {
    background-color: #1a1a1a;
    border-bottom: 3px solid;
}

.mud-simple-table {
    background-color: var(--mud-palette-dark) !important;
}

.mud-table {
    background-color: var(--mud-palette-dark) !important;
}

.mud-tabs-toolbar {
    background-color: var(--mud-palette-dark) !important;
}

.round-image-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50% !important;
}

.round-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mud-button-group-vertical {
    width: 100%;
}

.image-container {
    position: relative;
    width: 500px; /* Adjust size as needed */
    height: 500px; /* Adjust size as needed */
    border-radius: 50%; /* Creates a circular container */
    overflow: hidden;
}

.base-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 90%; /* Lower the height to reduce the size */
    transform: translate(-50%, -50%) scale(0.9); /* Scale down the image and ensure it's centered */
    object-fit: cover;
    border-radius: 50%; /* Ensures the base image is circular */
    clip-path: circle(50% at 50% 50%); /* Circular clip to maintain rounded edges */
    z-index: 1;
}

.frame-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the frame covers the container */
    z-index: 2;
}

.centered-table :is(th, td) {
    text-align: center !important;
}

.italic-font {
    font-style: italic !important;
}

.bold-font {
    font-weight: bold !important;
}

.heart-container {
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    justify-content: center;
    flex: 1;
}

.heart-container:hover {
    transform: scale(1.1);
}

.heart-icon {
    transition: all 0.3s ease;
}

.grey-heart {
    color: #888 !important;
}