@page "/"
@using Deedforge.Client.Helpers

<PageTitle>Deedforge - Home</PageTitle>

<h1>Welcome to Deedforge</h1>

<br />

<MudText Typo="@Typo.body1">
    Deedforge is a tabletop role-playing game that combines the streamlined design and in-depth tactical complexity inspired by various other popular TTRPG systems.

    <br />
    <br />

    The game uses a unique achievement-based system to facilitate narrative storytelling and character advancement, with no character levels or ability scores.

    <br />
    <br />

    Instead, players can progress by completing deeds. The combat uses action point system, allowing for a high degree of control of character’s actions.
    The game emphasizes horizontal power, customization, and meaningful abilities over numeric increases.

    <br />
    <br />

    Additionally, focus on balanced constraints provides ample opportunity for tactical approach and proper teamplay.
</MudText>

<br />
<br />

<MudText Typo="@Typo.h5" Align="@Align.Center">
    “Creativity thrives best when constrained”
    <br />
    – Marissa Meyer
</MudText>

<br />
<br />
